@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@300&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 
body {

    background-color: black;
    overflow-x: hidden;

}


.header {

    
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 60px;
    color: white;
}

.name h1 {

    font-size: 30px;
    font-family: 'Krona One', sans-serif;
}

.name p {

    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
}

.nav a {

    display: flex;
    text-wrap: nowrap;
    color: white;
    text-decoration: none;
    font-size: 17px;
    border: 5px;
    font-family: 'Kanit', sans-serif;

}

.nav a:hover {

    
    text-decoration: underline;


}

.nav {

    display: flex;
    padding-bottom: 40px;
    width: 40%;
    justify-content: space-between;
    margin: 30px;
    font-family: 'Inter', sans-serif;
}

.contact-form{

   
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    font-family: 'Kanit', sans-serif;
}

.container{

    background-image: linear-gradient(180deg,#247BA0,rgb(8, 103, 86));
    padding: 30px;
    color: white;
    border: none;
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50vw;
}

.container h1{
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}
.container p{

    width: 80%;
    font-size: 25px;
}
.form{
        gap: 5px;
        text-align: left;
        height: auto;
        width: 100%;
        display: flex;
        align-content: center;
        flex-direction: column;
        
}

input[type=text]{

    padding: 1rem;
    border: none !important;
}
.submit{
    margin: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 30%;
    height: 3rem;
    background-color: #5eaf80;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;  
    font-weight: bolder;
    font-size: 20px;
}

textarea{

    height: 10rem;
    border: none !important;
}

h3{

    font-size: 110px;
    position: absolute;
    color: rgba(255, 255, 255, 0.09);
    font-family: 'Krona One', sans-serif;
    top: 60%;
    letter-spacing: 1rem;
    left: -25%;
    transform: rotate(90deg);
    z-index: -1
}